<!DOCTYPE html>
<html style="height: 100%">
  <head>
    <meta charset="utf-8">
    <title>Exoranking : Home</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.6/umd/popper.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js"></script>
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <script>
      $(function () {
        $(document).scroll(function () {
          var $nav = $(".navbar-fixed-top");
          $nav.toggleClass('scrolled', $(this).scrollTop() > $nav.height());
        });
      });
    </script>
  </head>
  <body style="background-size: cover; background-attachment: fixed; background-image: linear-gradient(rgba(6, 62, 247, 0.5), rgba(230, 92, 235, 0.3)), linear-gradient(rgba(0, 0, 0, 0.6),rgba(0, 0, 0, 0.6)), url('https://static.kent.ac.uk/media/news/2019/09/Universe-1920x1269.jpg'); background-repeat: no-repeat;">
    <header>
      <nav class="navbar fixed-top navbar-fixed-top topnav navbar-expand-lg " id="navbar-fixed-top">
        <div class="navbar-brand" style="color: white;">Exoplanets</div>
        <div class="menu">
          <ul>
            <li><a class="navbar-brand active" href="/">Home</a></li>
            <li><a href="#" onclick="scrollTo('.ranking');">Ranking</a></li>
            <li><a href="#" onclick="scrollTo('.discovery-plot');">Year of Discovery</a></li>
            <li><a href="#">Visualisation 3</a></li>
          </ul>
        </div>
      </nav>
    </header>
    <div class="row" style="width: 94%; margin: 3%;">
      <div class="col-7">
        <img src="https://space-facts.com/wp/wp-content/uploads/mercury-transparent.png" alt="Exoplanet" style="max-width: 95%;">
      </div>
      <div class="col-4">
        <h1 class="display-2" style="color: white; padding-top: 3em">Exoplanets</h1>
        <p style="color: white;">what comes after planet Earth?</p>
      </div>
    </div>
    <div id="content" style="margin: 10%">
      <div class="col" style="color: white; padding-bottom: 2em;">
          The urge to explore the unknown has always driven humanity to new inventions and explorations. Especially the outer space is one of the remaining mysteries.<br>
          With <b>Exoplanets</b> we try to find the planet that is most similar to our beloved Earth to answer, what you always wanted to know: <br>
          <br>
          <ul>
            <li><i>Are there more planets like the Earth?</i></li>
            <li><i>Could there be other species in outer space?</i></li>
            <li><i>Where are we going, when we have to leave planet Earth?</i></li>
          </ul>
          <br>
          <hr style="border-color: white">
          <br>
          <h4 style="text-align: center">The Exoplanet Ranking</h4>
          Each exoplanet from the original dataset has been studied and given a score computed by similarity to the Earth. On the left side is our ranking with the <i>original</i> data, on the right is the ranking with our <i>weighted</i> data. Try to hover them to find out more about the planet!
      </div>
      <div class="row" id="ranking">
        <table class="table table-hover table-sm col-5" style="color: white;">
          <caption>Non-weighted similarity</caption>
          <thead class="thead-light">
            <tr>
              <th>#</th>
              <th>Name</th>
              <th>Score</th>
            </tr>
          </thead>
          <tbody id='table-body'>
            <% var data = JSON.parse(datap1) %>
            <% data.sort(function(a,b) {return b.simil - a.simil}) %>
            <% for(var i=0; i < 21; i++) { %>
              <tr data-toggle="popover" data-trigger="hover" title="Distance [parsec]" data-content="<%- data[i].fst_dist %>">
                <td><%- i %></td>
                <td><%= data[i].fpl_name %></td>
                <td><%- data[i].simil %></td>
              </tr>
            <% } %>
          </tbody>
        </table>
        <div class="col-2"></div>
        <table class="table table-hover table-sm col-5" style="color: white;">
            <caption>Weighted similarity</caption>
            <thead class="thead-light">
              <tr>
                <th>#</th>
                <th>Name</th>
                <th>Weighted Score</th>
              </tr>
            </thead>
            <tbody id='table-body'>
              <% var data = JSON.parse(datap1) %>
              <% data.sort(function(a,b) {return b.weighted_simil - a.weighted_simil}) %>
              <% for(var i=0; i < 21; i++) { %>
                <% var popovercontent = "Distance [parsec]: ".concat(data[i].fst_dist, "\n", "Orbital Period [days]: ", data[i].fpl_orbper, "\n", "Planet Radius [Earth]: ", data[i].fpl_rads) %>
                <tr data-toggle="popover" data-trigger="hover" title="<%- data[i].fpl_name%>" data-content="<%- popovercontent %>">
                  <td><%- i %></td>
                  <td><%= data[i].fpl_name %></td>
                  <td><%- data[i].weighted_simil %></td>
                </tr>
              <% } %>
            </tbody>
          </table>
        </div>
        <hr style="border-color: white">
        <br>
        <h4 style="color: white; text-align: center">Year of Discovery</h4>
        <br>

        <div id="discovery-plot">
          <canvas id="discovery-year" width="400" height="150"></canvas>
        </div>
        <script>

          let bardata = [];
          for(let i = 0; i<29; i++){
            bardata.push(0);
          }

          
          "<% var yeararray = []%>"
          "<% for(let i = 1;i<4056;i++){ %>"
            "<% console.log(data[i].fpl_disc)%>;"
            "<% yeararray.push(data[i].fpl_disc)%>;"
            
          "<%} %>"
          let machin = "<%= yeararray%>";
          let years = (JSON.parse("[" + machin + "]"));
          for(let i=1 ;i<years.length;i++ ){
            bardata[2019-years[i]] ++;
          }
          bardata.length=29;
          bardata.reverse()
          var ctx = document.getElementById('discovery-year').getContext('2d');
          var myBarChart = new Chart(ctx, {
            type: 'bar',
            data: {
              labels:["1991","1992","1993","1994","1995","1996","1997","1998","1999","2000","2001","2002","2003","2004","2005","2006","2007","2008","2009","2010","2011","2012","2013","2014","2015","2016","2017","2018","2019"],
              datasets:[{
                borderWidth: 3,
                data:bardata,
                label: "number of exoplanets discovered per year since 1990",
                backgroundColor: 'rgba(100, 100, 200, 0.99)',
              }],
            options: {
              scales: {
                xAxes: {
                  ticks: {
                    fontColor: 'black'
                  }
                }
              },
              legend: {
                labels: {
                  fontColor: 'white'
                }
              },
              title: {
                display: true,
                text: 'number of exoplanets discovered per year since 1990',
                color: 'white'
              }
            }
          }});
          
        
        </script>
        


        <div id="distance">
          <canvas id="distance-plot" width="200" height="100"></canvas>
        </div>
        <script>
        
        var ctx = document.getElementById('distance-plot').getContext('2d');
        new Chart(ctx, {
          label: "swag",
          data: {
            labels: ["K2-85 b", "K2-49 b", "EPIC 201833600 c", "K2-50 b", "K2-81 b", "K2-83 b"],
            datasets: [{
              label: "distance from earth in parsecs of first 6 exoplanets in ranking",
              data: [97.49, 463.06, 259.33, 259.33, 254.14, 125.98],
              backgroundColor: [
                'rgba(100, 100, 200, 0.7)',
                'rgba(100, 100, 215, 0.7)',
                'rgba(100, 100, 230, 0.7)',
                'rgba(100, 115, 200, 0.7)',
                'rgba(100, 130, 200, 0.7)',
                'rgba(115, 100, 200, 0.7)',
              ],
              borderColor: "rgba(0, 0, 0, 0.8)"
            }]
          },
          options: {
            legend: {
                display: false
            },
            title: {
              display: true,
              text: 'distance from earth in parsecs of first 6 exoplanets in ranking'
            }
          },
          type: 'polarArea'
        });
        
        </script>

    <div id="distance2">
        <canvas id="distance-plot2" width="200" height="100"></canvas>
      </div>
      
      <script>

      var distseries = []
      var plnames = ['K2-85 b', 'K2-117 b', 'K2-117 c', 'K2-49 b', 'K2-4 b', 'K2-153 b', 'EPIC 201833600 c',
                      'K2-50 b', 'K2-83 b', 'K2-83 c', 'K2-151 b', 'K2-257 b', 'K2-264 b', 'K2-266 c',
                    'K2-264 c', 'K2-239 c', 'K2-239 b', 'K2-239 d', 'K2-266 e', 'K2-266 d']
      var dists = ['97.49', '101.95', '101.95', '463.06', '233.37', '143.6', '259.33', 
                      '259.33', '125.98', '125.98', '69.61', '64.1', '187', '77.16',
                    '187', '49', '49', '49', '77.16', '77.16']
      for(var i=0; i < plnames.length; i++){
        
        distseries.push(
          {
            name: plnames[i],
            color: "#4cb6e8",
            data: [[Number(dists[i]), 0]],
          }
        )
      }
      distseries.push({
            name: "Earth",
            color: "#b20303",
            data: [[0, 0]],
            zIndex: 8,
            marker: {
                symbol: "diamond"
            }

        })
      
      var ctx = document.getElementById('distance-plot2').getContext('2d');
      $('#distance2').highcharts({
        credits: {
            enabled: !1
        },
        chart: {
            type: "scatter",
            height: 180,
            width: 1160,
            renderTo: "chart",
            backgroundColor: "rgba(255,255,255,0.0)"
        },
        title: {
            style: {
                color: "#000",
                fontFamily: "Helvetica, Arial, sans-serif",
                fontSize: "12px",
                fontWeight: "bold",
                textTransform: "uppercase",
                whiteSpace: "normal"
            },
            text: "Distance to Earth [parsec]"
        },
        legend: {
            text: null,
            useHTML: !0,
            x: 20,
            align: "center",
            itemStyle: {
                color: "#000",
                fontFamily: "Stationery, Helvetica, Arial, sans-serif",
                fontSize: "10px",
                fontWeight: "normal",
                lineHeight: "12px",
                textTransform: "uppercase"
            },
            borderWidth: 0,
            enabled: !0,
            itemMarginTop: 0,
            itemMarginBottom: 0,
            layout: "horizontal",
            verticalAlign: "bottom"
        },
        xAxis: {
            title: {
                text: null,

            },
            min: 0,
            max: 500,
            labels: {
                enabled: !1
            },
            tickLength: 0,
            lineWidth: 0
        },
        yAxis: [{
            max: 0,
            min : 0,
            tickInterval: 1,

            title: {
                text: "How far is it?",
                rotation: 0,
                align: "middle",
                offset: 50,
                style: {
                    color: "#000",
                    fontFamily: "Stationery, Helvetica, Arial, sans-serif",
                    fontSize: "10px",
                    fontWeight: "normal",
                    lineHeight: "10px",
                    textTransform: "uppercase"
                }

            },
            labels: {

                enabled: !1
            },
            tickWidth: 0,
            tickLength: 0,
            maxPadding: 0,
            padding: 30,
            gridLineWidth: 2
        }, {
            title: {
                text: "Distance [parsec]",
                rotation: 0,
                align: "middle",
                offset: 50
            },
            opposite: !0
        }],
        plotOptions: {
            scatter: {
                events: {
                    legendItemClick: function () {
                        return !1
                    }
                },
                marker: {
                    radius: 6,
                    states: {
                        hover: {
                            enabled: !0
                        }
                    },
                    symbol: "circle"
                },
                tooltip: {
                    fontFamily: "Stationery, Helvetica, Arial, sans-serif",
                    headerFormat: "<b>{series.name}</b><br>",
                    pointFormat: "{point.x} parsec"
                }
            }
        },
        series: distseries,

    });
      </script>


    </div>
    <div class="footer-copyright text-center py-3" style="color: white;">© 2019 Copyright:
      <a href="https://github.com/Ngoron/data_science_project_2019" style="color: rgb(0, 162, 255)"> Exoranking Foundation</a>
    </div>
    <script>
        $(document).ready(function(){
          $('[data-toggle="popover"]').popover({
          })    
        });
    </script>
    <script>
      function scrollTo(name) {
        $('html,body').animate({
          scrollTop: $(name).offset().top},
        'slow');
      }
    </script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>