<!DOCTYPE html>
<html style="height: 100%">
  <head>
    <meta charset="utf-8">
    <title>Exoranking : Home</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.6/umd/popper.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <script>
      $(function () {
        $(document).scroll(function () {
          var $nav = $(".navbar-fixed-top");
          $nav.toggleClass('scrolled', $(this).scrollTop() > $nav.height());
        });
      });
    </script>
  </head>
  <body style="background-size: cover; background-attachment: fixed; background-image: linear-gradient(rgba(6, 62, 247, 0.5), rgba(230, 92, 235, 0.3)), linear-gradient(rgba(0, 0, 0, 0.6),rgba(0, 0, 0, 0.6)), url('https://static.kent.ac.uk/media/news/2019/09/Universe-1920x1269.jpg'); background-repeat: no-repeat;">
    <header>
      <nav class="navbar fixed-top navbar-fixed-top topnav navbar-expand-lg " id="navbar-fixed-top">
        <div class="navbar-brand" style="color: white;">Exoplanets</div>
        <div class="menu">
          <ul>
            <li><a class="navbar-brand active" href="/">Home</a></li>
            <li><a href="vis1">Visualisation 1</a></li>
            <li><a href="vis2">Visualisation 2</a></li>
            <li><a href="vis3">Visualisation 3</a></li>
          </ul>
        </div>
      </nav>
    </header>
    <div class="row" style="width: 94%; margin: 3%;">
      <div class="col-7">
        <img src="https://space-facts.com/wp/wp-content/uploads/mercury-transparent.png" alt="Exoplanet" style="max-width: 95%;">
      </div>
      <div class="col-4">
        <h1 class="display-2" style="color: white; padding-top: 3em">Exoplanets</h1>
        <p style="color: white;">what comes after planet Earth?</p>
      </div>
    </div>
    <div id="content" style="margin: 10%">
      <div class="col" style="color: white; padding-bottom: 2em;">
          Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum.
      </div>
      <div class="row">
        <table class="table table-hover table-sm col-5" style="color: white;">
          <caption>Non-weighted similarity</caption>
          <thead class="thead-light">
            <tr>
              <th>#</th>
              <th>Name</th>
              <th>Score</th>
            </tr>
          </thead>
          <tbody id='table-body'>
            <% var data = JSON.parse(datap1) %>
            <% data.sort(function(a,b) {return b.simil - a.simil}) %>
            <% for(var i=0; i < 21; i++) { %>
              <tr data-toggle="popover" data-trigger="hover" title="Distance [parsec]" data-content="<%- data[i].fst_dist %>">
                <td><%- i %></td>
                <td><%= data[i].fpl_name %></td>
                <td><%- data[i].simil %></td>
              </tr>
            <% } %>
          </tbody>
        </table>
        <div class="col-2"></div>
        <table class="table table-hover table-sm col-5" style="color: white;">
            <caption>Weighted similarity</caption>
            <thead class="thead-light">
              <tr>
                <th>#</th>
                <th>Name</th>
                <th>Weighted Score</th>
              </tr>
            </thead>
            <tbody id='table-body'>
              <% var data = JSON.parse(datap1) %>
              <% data.sort(function(a,b) {return b.weighted_simil - a.weighted_simil}) %>
              <% for(var i=0; i < 21; i++) { %>
                <% var popovercontent = "Distance [parsec]: ".concat(data[i].fst_dist, "\n", "Orbital Period [days]: ", data[i].fpl_orbper, "\n", "Planet Radius [Earth]: ", data[i].fpl_rads) %>
                <tr data-toggle="popover" data-trigger="hover" title="<%- data[i].fpl_name%>" data-content="<%- popovercontent %>">
                  <td><%- i %></td>
                  <td><%= data[i].fpl_name %></td>
                  <td><%- data[i].weighted_simil %></td>
                </tr>
              <% } %>
            </tbody>
          </table>
        </div>


        <div id="discovery-plot">
          <canvas id="imgonnashootmyself" width="400" height="100"></canvas>
        </div>
        <script>

          let bardata = [];
          for(let i = 0; i<29; i++){
            bardata.push(0);
          }

          
          "<% var yeararray = []%>"
          "<% for(let i = 1;i<4056;i++){ %>"
            "<% console.log(data[i].fpl_disc)%>;"
            "<% yeararray.push(data[i].fpl_disc)%>;"
            
          "<%} %>"
          "<%console.log(yeararray);%>"
          let machin = "<%= yeararray%>";
          let years = (JSON.parse("[" + machin + "]"));
          for(let i=1 ;i<years.length;i++ ){
            bardata[2019-years[i]] ++;
          }
          bardata.length=29;
          bardata.reverse()
          console.log(bardata);
          var ctx = document.getElementById('imgonnashootmyself').getContext('2d');
          var myBarChart = new Chart(ctx, {
            type: 'bar',
            data: {
              labels:["1991","1992","1993","1994","1995","1996","1997","1998","1999","2000","2001","2002","2003","2004","2005","2006","2007","2008","2009","2010","2011","2012","2013","2014","2015","2016","2017","2018","2019"],
              datasets:[{
                borderWidth: 3,
                data:bardata,
                label: "number of exoplanets discovered per year since 1990",
                backgroundColor: 'rgba(100, 100, 200, 0.7)'
              }],
            options: {
              scales: {
              xAxes: {
                ticks: {
                  fontColor: 'black'
                }
              }
    }
}
          }});
          
        
        </script>
        



    </div>
    <div class="footer-copyright text-center py-3" style="color: white;">© 2019 Copyright:
      <a href="https://github.com/Ngoron/data_science_project_2019" style="color: rgb(0, 162, 255)"> Exoranking Foundation</a>
    </div>
    <script>
        $(document).ready(function(){
          $('[data-toggle="popover"]').popover({
          })    
        });
    </script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>